*.iml
/target
/release.properties
/demo/target
/.idea
/android-demo/build
/android-demo/.gradle
/android-demo/local.properties
/android-demo/gradlew
/android-demo/gradle
/android-demo/gradlew.bat

.classpath

.project

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.apt.core.prefs

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs
